#version=DEVEL

# Firewall configuration
firewall --enabled --service=ssh

# Install Operating System
install

# Install from http location
url --url https://repo.linuxlab.asrnet.com/centos/6/os/x86_64 --noverifyssl
repo --name="CentOS Base" --baseurl=https://repo.linuxlab.asrnet.com/centos/6/os/x86_64 --noverifyssl

# System language
lang en_US.UTF-8

# System keyboard
keyboard us

# Enable network
network --onboot on --device eth0 --bootproto dhcp --noipv6

# Root password
rootpw  --iscrypted $1$PPhWgLH5$y8zujhcUKQncaQOFk7x.F0

# System authorization information
authconfig --enableshadow --passalgo=sha512

# Enable SELinux
selinux --enforcing

# Installation logging level
logging --level=info

# System timezone
timezone --utc America/Los_Angeles

# Bootloader configuration
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

# Partition information 
clearpart --all --drives=sda

zerombr yes

part /boot --fstype=ext4 --size=500
part pv.008002 --grow --size=1

volgroup vg_web --pesize=4096 pv.008002
logvol / --fstype=ext4 --name=lv_root --vgname=vg_web --grow --size=1024 --maxsize=51200
logvol swap --name=lv_swap --vgname=vg_web --grow --size=2016 --maxsize=2016

# Reboot after install
reboot

%packages
@core
@server-policy
%end

%post
cat > /etc/yum.repos.d/linuxlab.repo <<EOL
[base]
name=CentOS-$releasever - Base
baseurl=http://repo.linuxlab.asrnet.com/centos/6/os/x86_64/
gpgcheck=0

[custom]
name=CentOS-$releasever - Custom
baseurl=http://repo.linuxlab.asrnet.com/centos/custom/
gpgcheck=0
EOL

yum -y install chef
mkdir /etc/chef

cat > /etc/chef/client.rb <<EOL
log_level        :auto
log_location     STDOUT
chef_server_url  "https://chef.linuxlab.asrnet.com:443"
validation_client_name "chef-validator"
EOL

cat > /etc/chef/validation.pem <<EOL
-----BEGIN RSA PRIVATE KEY-----
MIIEpgIBAAKCAQEA2P1P37Jj49YPz+B81E5UQ5evFSmVR7OldXqAxj71TFCRpLy3
/ZbYpbtp1/n+Qm7+ZeUs6J9kKBSRlUKKy3lhD8hnLOoi+xzpA5n3Vw+pIdqPrMOK
QKVm39tVOHTvw5bXn7e1aWu2LHfMpeBLu8wY7gMuC1LhncGQIxY0vQlQh/NqeY+F
PuvgBVKWK4uhUgsPMk9cuXUd8GLLCNnT1kjCjS8v/XIgDYc29G3///lx3UH9wgIS
7KOscyrpLmF/WDqEalmw2kmJw4nIarIPtj46f4epW7w7VdSGWE6Sl7oKOMO+njN0
6eIgsli53de1qPUPNRvj8mKsLyvWleaqHLDSHwIDAQABAoIBAQDXdAZINogKpPUE
UoGACNqQVt9oouZv0Ie8s0uEDOVhxionKZ+DM7GgNgutgLOe4TjGkhzaSdGYHnxD
eVP5H2dp1XHk3gKn1hfkFI/MKWeljq/UOkBfWhxgsBbZPPsI+RDWrQF7UJENbFKO
bbylFs22HwAsDDqrepOU0yrAfKwyn4HjPlCXJ1STTYMNHCfyDZt0gFnpSSwQCSqy
OiwtEXIkF+anrZ0AnoGeXJl3YDk6ejgBNL610R2AkmbkEu0a2DljG/CxNIp/6IN4
b1ll0MDwqVCBT8QMIuk2wz1lMhxNwKbTlUMxRTqm7uFSLIX1vidsaBo/WAcbjsc2
1CDAj/qJAoGBAPiy7CTsLj6T4hTkpQdb5MpuYNa8TEgnMfN1mDZMB1RreFHr7mnx
97IQ2hncvIZOU0rSouKQMx+wda3E+hO8yk9eLqonF27JY7fAjrrnl7mR3Z3Zvs94
Gfqj+n/d3WT1dUPmq09vB9RfDQvzsgpBnodObxMr51jRoYKXkrG8MailAoGBAN9c
FHP/289LvDnfIrmlPmPiGki4tvZ9IQxHLifxVDnqvWYiBUvLDGWA8kwJjskDwYnG
gYeNkpX/urDSRkV5s90t6rygFExdBN4/AL9tUVEawVd5wkOD2Qd8hrIftlh+mcNL
j8iEL8H25QgDCtnD69zQsIbVTduuftt5wNq5LNBzAoGBAMRpGhJ27HbDeDOj96l+
K4yr65LrlxsMyWhLIPEQzmEflyCrwdiuHj7lDDqMl99CEInxHG7uD1IhnG6mOBJK
cUSJTzVWNi1qo3RFgPOfX7ZQusOlagqUAYBu7LD7WZQYPopnrDfJqldQ0g70YVG0
TSzzBsoPTGBa/sEST+pKhLV5AoGBAKJLwgDXtNxXZ5mVbSH/0+m37OlSbn+ERHMr
dXpIfK7oxl5j8f00uPk4TNa7Syj8tbBqsMvSLuUXQIwi/jSVTgA00Q/mMVmbbWIf
3Wc7A48vJbVuH533O8eY0Da1nEWJGCkzynIkup7xy1GbBFNfbQ6yBNK0QzKRBFRt
j5heXRXJAoGBAKTjNIsI9PsY1sBvdmbBxIu9O3bhrDPydwxy+SSPOCH6CswY/d9v
SpVQStoKe9WT6FHSmQlVNYD6fF4yyh2/kors5OAW/0nvOzRvFjgTg+AuMggqRKjr
0QPvz5U2jLG4lAe5h59nAC44RSB5UTqCL+MjJgXfRlLUa9dBEJPfEOJm
-----END RSA PRIVATE KEY-----
EOL
%end
